body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Times New Roman", sans-serif;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.video-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#bgvid {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
}

.content {
    position: relative;
    z-index: 1;
    text-align: center;
    color: #fff;
    padding: 20px;
}

.center-button {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 15px 30px;
    background: linear-gradient(to right, #e52e71, #ff8a00);
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
}

#t1 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-family: 'Times New Roman', Times, serif;
    color: black;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
    font-size: 50px;
}

#t2{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-family: 'Times New Roman', Times, serif;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}